.add-button {
  position: fixed;
  z-index: 5;
  right: 1em;
  padding: 0.6em 0.6em 0.5em;
  border-radius: 2em;
  background-color: var(--switcher);
  color: var(--background-color);
  font-weight: 400;
  font-size: 1.2em;
  box-shadow: var(--shadows);
}
.add-button > div {
  display: flex;
}

.pencil-icon,
.groups-icon,
.friend-icon {
  margin: 0 0 0 0;
}

.expense {
  bottom: 4em;
}
.group {
  bottom: 10em;
}

.friend {
  bottom: 7em;
}

.delete-group {
  bottom: 13em;
}
