.dashboard-container {
  padding: 1em 4.65em 2em 2em;
  max-width: 35em;
  margin: 0 auto;
}

.section-title {
  color: var(--switcher);
  font-size: 2em;
  margin-bottom: 0.3em;
  margin-top: 1.5em;
}

.section-spacer {
  width: 100%;
  height: 2.5em;
}

.emptyDash {
  color: var(--positive);
  font-size: 1.4em;
  margin-top: 5em;
  padding: 1em;
  border: 2px solid var(--stain-1-light);
  border-radius: 9px;
  text-align: center;
  background-color: var(--background-color-transparent);
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .dashboard-container {
    max-width: 100%;
    margin: 4em auto 3em;
    background-color: rgba(73, 48, 78, 0.247);
    background-color: var(--background-color-transparent);
    padding: 1em 3.5em 2em;
    height: 85vh;
    overflow-y: scroll;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--positive) var(--background-color-transparent);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background-color-transparent);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--positive);
    border-radius: 10px;
    border: none;
  }
  .section-title {
    color: var(--switcher);
    font-size: 2em;
    margin-bottom: 0.3em;
    margin-top: -1em;
    width: fit-content;
  }
}

.account-container {
  width: calc(100% + 2.65em);
  margin-top: 2em;
}

.account-container h2 {
  margin: 0.8em 0 0.4em;
}

.account-container .card-avatar-container {
  position: absolute;
  right: -1em;
  margin-top: -3em;
}

@media screen and (min-width: 480px) {
  .account-container .card-avatar-container {
    position: absolute;
    left: -0.5em;
    margin-top: -3.5em;
  }

  .account-container {
    width: 100%;
    margin-top: 2em;
  }
}

@media screen and (min-width: 968px) {
  .section-title {
    color: var(--switcher);
    font-size: 2em;
    margin-bottom: 0.3em;
    margin-top: 1.5em;
  }

  .dashboard-container {
    width: 35em;
    margin: 4em auto 3em;
    background-color: rgba(73, 48, 78, 0.247);
    background-color: var(--background-color-transparent);
    padding: 1em 3.5em 2em;
    height: 85vh;
    overflow-y: scroll;
  }
}
