.form-body {
  width: 75%;
  height: 100dvh;
  background-color: var(--background-color);
  padding: 1em 0 2em;
  margin: 0 auto;
  letter-spacing: -0.09em;
}

.form-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 0;
}
.close-form {
  font-size: 1.5em;
  color: var(--switcher);
  cursor: pointer;
}

.form-body label,
label.icon-label {
  position: relative;
  top: 0.3em;
  left: 0.7em;
  background-color: var(--background-color);
  color: var(--positive);
  display: inline;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  margin-bottom: 0.2em;
  font-weight: 600;
  z-index: 2;
  margin-top: 0;
}
.form-body input:-webkit-autofill,
.form-body input:-webkit-autofill:hover,
.form-body input:-webkit-autofill:focus,
.form-body input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--positive);
  transition: background-color 5000s ease-in-out 0s;
}

.form-body input,
.form-body select {
  font-size: 1.1em;
  padding: 0.5em 0.5em;
  border: 3px solid var(--switcher);
  background-color: var(--background-color);
  border-radius: 0.4em;
  width: 100%;
  color: var(--positive);
  height: 3.5em;
  padding: 0.7em 1.2em 0;
  opacity: 0.5;
  margin-top: -0.6em;
  font-weight: 800;
}

.form-body input:focus,
.form-body select:focus {
  outline: none;
  border: 2px solid var(--switcher);
  opacity: 1;
  background-color: var(--background-color);
}

.close-form {
  background-color: var(--switcher);
  padding: 0.2em 0.2em;
  border-radius: 0.4em;
  width: 2em;
}

.submit-button {
  background-color: var(--switcher) !important;
  padding: 0.25em 0.5em;
  border-radius: 0.4em;
  width: 100%;
  color: var(--background-color);
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 600;
  border: 2px solid var(--positive);
  cursor: pointer;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.form-container {
  display: flex;
}

input[type='checkbox'] {
  display: none;
}

label.icon {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0.3em;
}
label.icon:before {
  display: block;
  position: absolute;

  width: 20px;
  height: 20px;
}
.icon-container {
  width: 4em;
  height: 4em;
  margin: 0;
  position: relative;
  right: 0.6em;
}

.icons-container {
  width: 100%;
  height: 10em;

  background-color: rgb(27, 27, 27);

  margin: 0;
  border: 3px solid var(--switcher);
  background-color: var(--background-color);
  border-radius: 0.4em;

  /* overflow-y: auto; */
  margin-top: -0.7em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-top: 1.2em;
}

.icons-inner-container {
  overflow-y: auto;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-focus {
  opacity: 1;
}
.container-unfocus {
  opacity: 0.5;
}

:checked + label.icon {
  background-color: var(--positive);
  border-radius: 0.4em;
}

@media screen and (min-width: 480px) {
  .submit-button {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 968px) {
  .form-body {
    width: 30em;
    height: fit-content;

    padding: 2em 2em 2em;
    margin: 2em auto 0;
    border: 4px solid var(--stain-1-light);
    border-radius: 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }

  .submit-button {
    margin-bottom: 0;
  }
}
