body {
  background-color: var(--background-color);
  transition: background-color 0.4s ease-in-out;
}

.home-body {
  height: 100dvh;
}

.blur-stain-1 {
  position: absolute;
  right: 3em;
  height: 21.25em;
  background-color: var(--stain-1-color);
  border-radius: 50%;
  z-index: -10;

  width: 15em;
  top: 13em;
  filter: blur(8em);
}

.blur-stain-2 {
  position: absolute;

  height: 40rem;
  background-color: var(--stain-2-color);
  border-radius: 50%;

  z-index: -10;
  left: -10em;
  width: 20em;
  top: -8em;
  filter: blur(10em);
}

.title {
  font-size: 3.5rem;

  background: var(--title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: -0.04em;
}

.normal-text {
  color: var(--text);
}
.banner {
  color: var(--text);
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
}
.banner span {
  color: var(--switcher);

  letter-spacing: 0;
}

.home-links {
  padding: 0.5em 1.4em;
  background-color: var(--background-color);
  transition: background-color 0.4s ease-in-out;
  opacity: 0.5;
}

.home-links a {
  padding: 0 0.5em;
  font-size: 1em;
  font-weight: 800;
  color: var(--text);
}

.hero-container .title {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 14em;
  margin: 0 auto;
}

.hero p {
  text-align: center;
}

.home-img {
  image-rendering: pixelated;
  width: 100%;
}

.features {
  background-color: black;
  color: white;
  margin: 0;
}

section h2 {
  color: var(--light-switcher);
  margin: 0 1em;
  padding-top: 2em;
  font-size: 2.6em;
  font-weight: 600;
}

.join-button {
  display: block;

  background-color: var(--switcher) !important;
  padding: 0.5em 0.7em 0.6em;
  border-radius: 0.4em;
  width: fit-content;
  color: var(--background-color);
  margin: 0.8em auto;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  box-shadow: var(--shadows);
}

.steps-container {
  display: flex;
  flex-direction: column;
  padding: 1.6em 0 0;
  width: 18em;
  gap: 1.2em;
  margin: 0 auto;
}

.steps-container div {
  border-radius: 10px;
  border: 2px solid var(--stain-1-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-container h5 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  color: var(--positive);
  border-radius: 10px 10px 0 0;
}

.steps-container p {
  z-index: 2;
  position: absolute;
  background-color: var(--background-color);
  color: var(--switcher);
  border: 2px solid var(--stain-1-light);
  text-align: left;
  left: -0.2em;
  margin: -0.7em;
  font-size: 1.3em;
  display: block;
  padding: 0.1em 0.6em;
  border-radius: 50px;
  transition: background-color 0.4s ease-in-out;
}
footer {
  display: none;
}
/* --------- Desktop -------- */
@media screen and (min-width: 768px) {
  .title {
    font-size: 6em;
    font-size: clamp(6rem, -2.3333rem + 17.7778vw, 11rem);
    /* font-size: clamp(3.5rem, -16.5rem + 40vw, 13.5rem); */
  }
  .banner {
    font-size: 1.2em;
    font-size: clamp(1.2rem, -0.1333rem + 2.8444vw, 2rem);
  }

  .home-links a {
    padding: 0 0.5em;
    font-size: 1.4em;
  }

  .hero-container .title {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }

  .hero-container {
    width: 100%;
  }

  section h2 {
    font-size: 2.6em;
  }

  .join-button {
    margin: 2em auto;
    font-size: 1.2em;
  }

  .steps-container {
    display: flex;
    flex-direction: row;
    padding: 2em 0 0;
    width: 75%;
    gap: 3em;
    margin: 0 auto;
  }

  .steps-container div {
    width: 100%;
  }

  .steps-container h5 {
    font-size: 0.8em;
    font-size: clamp(0.8rem, -0.3667rem + 2.4889vw, 1.5rem);

    padding: 1em 1em;
  }

  footer {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #818df821;
    width: 100%;
    padding: 1.5em 0 1em;
  }
  footer p {
    text-align: center;
    font-size: 0.8em;
    color: var(--text);
  }
  footer span {
    font-weight: 700;
  }

  .blur-stain-1 {
    position: absolute;
    right: 10%;
    height: 20em;
    background-color: var(--stain-1-color);
    border-radius: 50%;
    z-index: -10;
    width: 38em;
    top: 23em;
    /* filter: blur(10em); */
  }

  .blur-stain-2 {
    position: absolute;

    height: 40rem;
    background-color: var(--stain-2-color);
    border-radius: 50%;

    z-index: -10;
    left: 5em;
    width: 30em;
    top: 1em;
    /* filter: blur(10em); */
  }
}
