body {
  background-color: var(--background-color);
  transition: background-color 0.4s ease-in-out;
}

.home-body {
  height: 100lvh;
}

.blur-stain-1 {
  position: absolute;
  top: 28em;
  right: 3em;
  width: 11.25em;
  height: 21.25em;
  background-color: var(--stain-1-color);
  border-radius: 50%;
  filter: blur(10rem);
  z-index: -10;
}

.blur-stain-2 {
  position: absolute;
  top: -23rem;
  left: -35rem;
  width: 1rem;
  height: 40rem;
  background-color: var(--stain-2-color);
  border-radius: 50%;
  filter: blur(10rem);
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .blur-stain-2 {
    left: -10em;
    width: 20em;
    top: -8em;
    filter: blur(10em);
  }
  .blur-stain-1 {
    left: 5em;
    width: 15em;
    top: 13em;
    filter: blur(8em);
  }
}
.title {
  font-size: 3.5rem;
  font-size: clamp(3.5rem, -16.5rem + 40vw, 13.5rem);
  background: var(--title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.normal-text {
  color: var(--text);
}

.home-links {
  padding: 1.5em 1.4em;
  background-color: var(--background-color);
  opacity: 0.5;
}

.home-links a {
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 800;
  color: var(--text);
}
