@tailwind base;
@tailwind components;
@tailwind utilities;
@import './ui/styles/home.css';
@import './ui/styles/header.css';
@import './ui/styles/menu.css';
@import './ui/styles/themeSwitcher.css';
@import './ui/styles/addButtons.css';
@import './ui/styles/dashboard.css';
@import './ui/styles/cards.css';
@import './ui/styles/forms.css';

:root {
  --title: var(--light-title);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --menu-background: var(--menu-background-light);

  --dark-backgorund-color: black;
  --light-backgorund-color: white;

  --dark-title: linear-gradient(45deg, #cffafe, #818cf8, #f472b6);
  --light-title: linear-gradient(45deg, #6191c9, #3f51ee, #ff1b91);

  --dark-switcher: rgb(248, 167, 255);
  --light-switcher: rgb(211, 53, 158);

  --switch-height-home: 3.5em;
  --switch-height-dashboard: 3.8em;

  --dark-text: rgb(209 213 219);
  --light-text: rgb(66, 66, 66);

  --stain-1-dark: #818df848;
  --stain-1-light: #e081f865;

  --stain-2-dark: #f881ca44;
  --stain-2-light: #79a2c9;

  --menu-background-dark: rgb(0, 0, 0, 0.9);
  --menu-background-light: rgb(255, 255, 255, 0.9);

  --shadows-dark: rgba(248, 248, 248, 0.288) 0px 2px 8px 0px;
  --shadows-light: rgba(0, 0, 0, 0.288) 0px 2px 8px 0px;

  --icon-color-dark: invert(100%);
  --icon-color-light: invert(0%);

  --positive-dark: rgb(195, 167, 231);
  --positive-light: rgb(165, 125, 216);

  --negattive-dark: rgb(255, 153, 153);
  --negattive-light: rgb(230, 89, 89);

  --card-border-dark: 2px solid rgb(56, 56, 56);
  --card-border-light: 2px solid rgb(218, 218, 218);

  --highlight-bg-dark: rgba(255, 255, 255, 0.205);
  --highlight-bg-light: rgba(0, 0, 0, 0.205);
  --background-color: var(--light-backgorund-color);
  --title: var(--light-title);
  --switcher: var(--light-switcher);
  --text: var(--light-text);
  --stain-1-color: var(--stain-1-light);
  --stain-2-color: var(--stain-2-light);
  --menu-background: var(--menu-background-light);
  --shadows: var(--shadows-light);
  --icon-color: var(--icon-color-light);
  --positive: var(--positive-light);
  --negative: var(--negattive-light);
  --card-border: var(--card-border-light);
  --highlight-bg: var(--highlight-bg-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-backgorund-color);
    --title: var(--dark-title);
    --switcher: var(--dark-switcher);
    --text: var(--dark-text);
    --stain-1-color: var(--stain-1-dark);
    --stain-2-color: var(--stain-2-dark);
    --menu-background: var(--menu-background-dark);
    --shadows: var(--shadows-dark);
    --icon-color: var(--icon-color-dark);

    --positive: var(--positive-dark);
    --negative: var(--negattive-dark);
    --card-border: var(--card-border-dark);
    --highlight-bg: var(--highlight-bg-dark);
  }
}

.dark {
  --background-color: var(--dark-backgorund-color);
  --title: var(--dark-title);
  --switcher: var(--dark-switcher);
  --text: var(--dark-text);
  --stain-1-color: var(--stain-1-dark);
  --stain-2-color: var(--stain-2-dark);
  --menu-background: var(--menu-background-dark);
  --shadows: var(--shadows-dark);
  --icon-color: var(--icon-color-dark);

  --positive: var(--positive-dark);
  --negative: var(--negattive-dark);
  --card-border: var(--card-border-dark);
  --highlight-bg: var(--highlight-bg-dark);
}

.light {
  --background-color: var(--light-backgorund-color);
  --title: var(--light-title);
  --switcher: var(--light-switcher);
  --text: var(--light-text);
  --stain-1-color: var(--stain-1-light);
  --stain-2-color: var(--stain-2-light);
  --menu-background: var(--menu-background-light);
  --shadows: var(--shadows-light);
  --icon-color: var(--icon-color-light);
  --positive: var(--positive-light);
  --negative: var(--negattive-light);
  --card-border: var(--card-border-light);
  --highlight-bg: var(--highlight-bg-light);
}

.spacer {
  width: 100%;
  height: 9em;
}

.positive {
  color: var(--positive);
}

.negative {
  color: var(--negative);
}
